/* Toggle Button */
.toggle-menu {
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 0;
}

/* Sidebar Menu */
.sidebar-menu {
  position: fixed;
  top: 0;
  left: -450px;
  width: 450px;
  height: 100%;
  background-color: #222;
  color: white;
  padding: 20px;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar-menu.open {
  left: 0;
}

/* Close Button */
.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Sidebar Navigation Links */
.sidebar-menu ul {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  margin: 15px 0;
}

.sidebar-menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
}

.sidebar-menu a:hover {
  color: #ffcc00;
}

/* Submenu Styling */
.sub-menu {
  list-style: none;
  padding-left: 15px;
  display: none;
}

.sub-menu.show {
  display: block;
}

/* Dropdown Arrow */
.dropdown-arrow {
  float: right;
  font-size: 14px;
  color: #ffcc00;
  cursor: pointer;
}
.sub-menu li a {
  color: #ffcc00;
  font-size: 16px;
}

.logo span {
  font-size: 19px;
  font-weight: bold;
  color: white;
  padding-top: 7px;
  display: inline-block;
}

@media (max-width: 1200px) {
  .mobile-data {
    display: none !important;
    overflow: hidden;
  }
}
